@model ExampleModel

<div class="load-async" data-controller="Home" data-action="GetExampleComponent"></div>

<div class="load-async" data-controller="Home" data-action="GetExampleComponent" data-route-aemId="@Model.AnotherExampleModel.Id"></div>